{% extends 'base.html' %}
{% load static%}
    {% block head%}
      <title>Certificate</title>
      <style>
        table {
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          border: 1px solid #ddd;
          margin: 0 auto;
        }

        th, td {
          text-align: left;
          padding: 16px;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
        .myDiv {
            text-align: center;
        }
      </style>
    {% endblock %}
    {% block body %}
    <!-- <table class="table table-hover table-striped table-sm" class="center"> -->
    <div class="myDiv container">
      <table class="table-hover">
          <tr>
            <th>Types of Fees</th>
            <th>Due</th>
            <th>Amount</th>
          </tr>
          <tr>
            <td>Academic Fees</td>
            <td>{{user.userprofile.academicDue}}</td>
            <td>{{user.userprofile.academicFee}}</td>
          </tr>
          <tr>
            <td>Hostel Fees(for Hostel/Mess)</td>
            <td>{{user.userprofile.hostelDue}}</td>
            <td>{{user.userprofile.hostelFee}}</td>
          </tr>
          <tr>
            <td>Other Fees(Stadium/Labs)</td>
            <td>{{user.userprofile.otherDue}}</td>
            <td>{{user.userprofile.otherFee}}</td>
          </tr>
      </table>
    </div>
    <!-- </table> -->
    {% endblock %}
