{% extends 'base.html' %}

{% block head%}
  <title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
  <h1>Profile</h1>
  <p>Username: {{ user }}</p>
  <p>First name: {{ user.first_name }}</p>
  <p>Last name: {{ user.last_name }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Gender: {{ user.userprofile.studentGender}}</p>
  <p>Phone: {{ user.userprofile.phone }}</p>
  <p>Date of Birth: {{ user.userprofile.date_birth }}</p>
  <p>Class: {{ user.userprofile.studentClass }}</p>
  <p>DUE: {{ user.userprofile.Due }}</p>
</div>
{% endblock %}
